{% extends "layouts/default.html.twig" %}
{% block title %}Actualités{% endblock %}

{% block body %}
    <p>Bonjour, Vous êtes à la page des actualités</p>
    {% for post in posts %}
        {{ dump(post) }}
    {% endfor %}
{% endblock %}