{% extends "layouts/default.html.twig" %}
{% block title %} Bienvenue sur mon blog !{% endblock %}

{% block body %}
    <section>
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/public/img/caroussel/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Bienvenue sur mon blog !</h5>
              <p>Au programmes : des tonnes et des tonnes d'articles !</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/public/img/caroussel/2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Nouvelles Technologies</h5>
              <p>Retrouvez tous à propos des dernières Technologies !</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/public/img/caroussel/3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Jeux Vidéo</h5>
              <p>Retrouvez le meilleur de l'activité vidéoludique !</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <section id="section-presentation">
      <div class="container d-flex justify-content-center">
        <img id="portrait" src="/public/img/perso/selfie.jpg" class="rounded-circle" alt="selfie">
      </div>
      
      <div class="container d-flex justify-content-center">
        <div class="p-4">
          <h3 class="text-center display-4">Bienvenue sur mon blog ! </h3>
          <p class="text-center">Je m'appelle Jonathan Billard, je suis développeur web junior et je suis celui qu'il vous faut !</p>
          <p class="text-center">Actuellement en apprentissage chez Halias Technologies et Openclassrooms, à travers ce blog vous pourrez découvrir mes passions !</p>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
        <a href="/public/img/perso/cv.pdf" class="btn btn-primary btn-lg mt-4" style="width:50%" target="blank" download>Télécharger mon CV</a>
      </div>
    </section>
    <section class="container" id="section-contact">
      <h2 class="text-center display-4">Me contacter</h2>
      {% if flash('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flash('success') }}
                </div>
            {% elseif flash('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash('error') }}
                </div>    
        {% endif %}
      <form method="POST" action="/send-message" enctype="multipart/form-data" role="form">
        <div class="form-group mt-3">
          <label for="exampleFormControlInput1">Nom/Prénom*</label>
          <input type="text" name="name" class="form-control" placeholder="Votre nom ou prénom" required>
        </div>
        <div class="form-group mt-3">
          <label for="exampleFormControlInput1">Votre adresse e-mail*</label>
          <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
        </div>
        <div class="form-group mt-3">
          <label for="exampleFormControlTextarea1">Votre message*</label>
          <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3" required></textarea>
        </div>
        <div class="container d-flex justify-content-center mt-3">
          <button type="submit" value="submit" name="submit" class="btn btn-primary btn-lg mt-4" style="width:50%">Envoyer</button>
        </div>
      </form>
    </section>  
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
       $('.carousel').carousel()
    </script>
{% endblock %}