{% extends "layouts/admin-default.html.twig" %}
{% block title %}Ajout d'un article{% endblock %}

{% block body %}
          <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Ajouter un article</h1>
                <form method="POST" action="/admin/articles-save" enctype="multipart/form-data">
                    <div class="form-group py-2">
                        <label for="title">Titre de l'article</label>
                        <input name="title" type="text" class="form-control" id="title-input" placeholder="Entrer un titre">
                    </div>
                    <div class="form-group py-2">
                        <label for="header">Introduction</label>
                        <input name="header" type="text" class="form-control" id="intro-input" placeholder="Entrez une introduction">
                    </div>
                    <div class="form-group py-2">
                        <label for="content">Votre article</label>
                        <input name="content" type="textarea" class="form-control" id="content" placeholder="Votre contenu...">
                    </div>
                    <div class="custom-file py-2">
                        <input type="file" name="thumbnail" class="custom-file-input" id="thumbnail">
                        <label class="custom-file-label" for="thumbnail">Choissisez une image à la une</label>
                    </div>
                    {% set user = session('user') %}
                    {% if user %}
                        <input name="csrf" type="hidden" value="{{ user.token }}">
                    {% endif %}
                    <button type="submit" value="submit" name="submit" class="btn btn-primary mt-2">Enregistrer</button>
                </form>
                
          </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        tinymce.init({
        selector: '#content'
      });
    </script>
{% endblock %}