{% extends "layouts/default.html.twig" %}
{% block title %} Erreur 404 {% endblock %}

{% block body %}
    
    <div class="container d-flex justify-content-center" style="min-height: 29em !important;">
        <section class="mt-5">
            <h1 class="display-1 text-center">404</h1>
            <h2 class="display-3">Page Introuvable</h2>
        </section>
        
    </div>
{% endblock %}