<header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Jonathan Billard - Développeur</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news/1">Actualités</a>
                            </li>
                        </ul>
                        {% set user = session('user') %}
                        {% if user %}
                            <ul class="navbar-nav my-2 my-lg-0">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Bonjour, {{ user.pseudo }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if user.isAdmin %}
                                            <a class="dropdown-item" href="/admin/articles/1">Administration</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="/user/{{user.pseudo}}">Mon compte</a>
                                        <a class="dropdown-item" href="/logout">Se déconnecter</a>
                                    </div>
                                </div>
                            </ul> 
                        {% else %}
                            <ul class="navbar-nav my-2 my-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Se connecter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/subscribe">S'inscrire</a>
                                </li>    
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>