
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/admin/articles/1">
                  <span data-feather="home"></span>Tous les articles
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/articles-add">
                  <span data-feather="file"></span>
                  Ajouter un article
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/commentaires/waiting">
                  <span data-feather="file"></span>
                  Commentaire(s) en attente
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/commentaires/validated">
                  <span data-feather="file"></span>
                  Commentaire(s) validés
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/commentaires/disapproved">
                  <span data-feather="file"></span>
                  Commentaire(s) désapprouvés
                </a>
              </li>
            </ul>
          </div>
        </nav>