{% extends "layouts/default.html.twig" %}
{% block title %} Réinitialisation de votre mot de passe {% endblock %}

{% block body %}
    <div class="container">
  <div class="row">
    <h1 class="text-center">Réinitialisation de votre mot de passe</h1>
    {% if flash('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash('success') }}
        </div>
    {% elseif flash('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash('error') }}
        </div>    
    {% endif %}
    <div class="login-wrap">
      <form class="form-horizontal" form method="POST" action="/reset-password/{{ token }}" enctype="multipart/form-data" role="form">
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">
            Votre nouveau mot de passe</label>
          <div class="col-sm-9">
            <input type="password" name="password" class="form-control" id="inputPsw" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">
            Confirmez votre nouveau mot de passe</label>
          <div class="col-sm-9">
            <input type="password" name="confirmPassword" class="form-control" id="inputPsw" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group last">
          <div class="col-sm-offset-3 col-sm-9">
            <button name="submit" value="submit" type="submit" class="btn btn-success btn-sm">
              Réinitialiser</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}