{% extends "layouts/default.html.twig" %}
{% block title %} Réinitialisation de votre mot de passe {% endblock %}

{% block body %}
    <div class="container form-auth">
  <div class="row">
    <h1 class="text-center mt-4 display-4">Réinitialisation de votre mot de passe</h1>
    {% if flash('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash('success') }}
        </div>
    {% elseif flash('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash('error') }}
        </div>    
    {% endif %}
    <div class="d-md-flex d-lg-flex justify-content-center">
      <form class="col-sm-12 col-md-8 col-lg-6 mt-5 mb-5 p-4 shadow border" form method="POST" action="/reset-password/{{ token }}" enctype="multipart/form-data" role="form">
        <div class="form-group">
          <label for="inputPassword3" class="control-label mt-2">
            Votre nouveau mot de passe</label>
            <input type="password" name="password" class="form-control mt-2" id="inputPsw" placeholder="Saisissez votre nouveau mot de passe" required>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="control-label mt-2">
            Confirmez votre nouveau mot de passe</label>
            <input type="password" name="confirmPassword" class="form-control mt-2" id="inputPsw" placeholder="Saisissez de nouveau votre mot de passe" required>
        </div>
        <div class="form-group text-center mt-3">
            <button name="submit" value="submit" type="submit" class="btn btn-primary">
              Réinitialiser</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}